.rock1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:5px rgb(228, 17, 101) solid;
    width: 400px;
    background-color:rgb(191, 19, 88);
    font-style: italic;
    color: rgb(249, 177, 203);
}
.rock2{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border:5px rgb(165, 17, 76) solid;
    width: 250px;
    background-color:rgb(138, 17, 66);
    color: rgb(249, 177, 203);
}
.rock3{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                border:5px rgb(165, 17, 76) solid;
                background: -moz-linear-gradient(90deg, rgba(249,176,78,1) 0%, rgba(255,159,193,1) 100%);
                background: -webkit-linear-gradient(90deg, rgba(249,176,78,1) 0%, rgba(255,159,193,1) 100%);
                background: -o-linear-gradient(90deg, rgba(249,176,78,1) 0%, rgba(255,159,193,1) 100%);
                background: -ms-linear-gradient(90deg, rgba(249,176,78,1) 0%, rgba(255,159,193,1) 100%);
                background: linear-gradient(0deg, rgba(249,176,78,1) 0%, rgba(255,159,193,1) 100%);
                font-size: 18px;"
}
.rock0{

    background: -moz-linear-gradient(90deg, rgba(227,150,46,1) 0%, rgba(20,10,13,1) 42%, rgba(20,10,13,1) 78%, rgba(187,92,126,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(227,150,46,1) 0%, rgba(20,10,13,1) 42%, rgba(20,10,13,1) 78%, rgba(187,92,126,1) 100%);
    background: -o-linear-gradient(90deg, rgba(227,150,46,1) 0%, rgba(20,10,13,1) 42%, rgba(20,10,13,1) 78%, rgba(187,92,126,1) 100%);
    background: -ms-linear-gradient(90deg, rgba(227,150,46,1) 0%, rgba(20,10,13,1) 42%, rgba(20,10,13,1) 78%, rgba(187,92,126,1) 100%);
    background: linear-gradient(0deg, rgba(227,150,46,1) 0%, rgba(20,10,13,1) 42%, rgba(20,10,13,1) 78%, rgba(187,92,126,1) 100%);
}